<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TIMER PROGRAMABLE
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label style="color: coral;text-align: center;" *ngIf="state==0">TIME</ion-label>
    <ion-label style="color: darkred;text-align: center;" *ngIf="state==2">TIME</ion-label>
    <ion-label style="color: springgreen;text-align: center;" *ngIf="state==1">TIME</ion-label>
    <ion-label id="TT">{{totalMin}}:{{totalSec}}</ion-label>
    <ion-button (click)="onClickStart()" expand="block" shape="round" *ngIf="state==0 || state===2">START</ion-button>
    <ion-button (click)="onClickStop()" expand="block" shape="round" *ngIf="state==1">STOP</ion-button>
    <ion-button (click)="onClickReset()" expand="block" shape="round">RESET</ion-button>
  </ion-item>
  <ion-item>
    <ion-label style="color: coral;" *ngIf="state==0">WORK </ion-label>
    <ion-label style="color: darkred;" *ngIf="lineState!=0 && state!==0">WORK </ion-label>
    <ion-label style="color: springgreen;" *ngIf="lineState==0 && state!==0">WORK </ion-label>
    <ion-label>{{totalMinWork}}:{{totalSecWork}}</ion-label>
    <ion-label style="color: coral;" *ngIf="state==0">PAUSE </ion-label>
    <ion-label style="color: darkred;" *ngIf="lineState!=1 && state!==0">PAUSE </ion-label>
    <ion-label style="color: springgreen;" *ngIf="lineState==1 && state!==0">PAUSE </ion-label>
    <ion-label style="color: springgreen;" *ngIf="lineState==3 && state!==0">PAUSE </ion-label>
    <ion-label>{{totalMinPause}}:{{totalSecPause}}</ion-label>
  </ion-item>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-button (click)="onClickDiscover()" expand="block" shape="round">
        DISCOVER
      </ion-button>
      <ion-button (click)="onClickConnect()" expand="block" shape="round">
        CONNECT
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>

<ion-content [fullscreen]="true">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge *ngIf="state==0">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light">
        <ion-icon name="stopwatch" (click)="onClickRound()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="onClickTimer()">
        <ion-icon name="timer"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="onClickTabata()">
        <ion-icon name="watch"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="onClickPause()">
        <ion-icon name="PAUSE"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div id="program">
    <ion-list>
      <div *ngFor="let t of theProgram;let i=index">
          <ion-item *ngIf="t.type=='ROUND'">
            <ion-icon name="stopwatch"></ion-icon>
            <ion-label position="fixed" style="color: coral;" *ngIf="state==0">{{t.type}}</ion-label>
            <ion-label position="fixed" style="color: darkred;" *ngIf="state!=0 && i!==lineNumber">{{t.type}}</ion-label>
            <ion-label position="fixed" style="color: springgreen;" *ngIf="state!=0 && i===lineNumber">{{t.type}}</ion-label>
            <ion-button (click)="onClickDelete(theProgram[i])" size="small" shape="round">
              DELETE
            </ion-button>
            <ion-button (click)="onClickUp(theProgram[i])" size="small" shape="round">
              <ion-icon slot="icon-only" name="caret-up-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="onClickDown(theProgram[i])" size="small" shape="round">
              <ion-icon slot="icon-only" name="caret-down-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="t.type=='TABATA'">
            <ion-icon name="watch"></ion-icon>
            <ion-label position="fixed" style="color: coral;" *ngIf="state==0">{{t.type}}</ion-label>
            <ion-label position="fixed" style="color: darkred;" *ngIf="state!=0 && i!==lineNumber">{{t.type}}</ion-label>
            <ion-label position="fixed" style="color: springgreen;" *ngIf="state!=0 && i===lineNumber">{{t.type}}</ion-label>
            <ion-button (click)="onClickDelete(theProgram[i])" size="small" shape="round">
              DELETE
            </ion-button>
            <ion-button (click)="onClickUp(theProgram[i])" size="small" shape="round">
              <ion-icon slot="icon-only" name="caret-up-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="onClickDown(theProgram[i])" size="small" shape="round">
              <ion-icon slot="icon-only" name="caret-down-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="t.type=='TIMER'">
            <ion-icon name="timer"></ion-icon>
            <ion-label position="fixed" style="color: coral;" *ngIf="state==0">{{t.type}}</ion-label>
            <ion-label position="fixed" style="color: darkred;" *ngIf="state!=0 && i!==lineNumber">{{t.type}}</ion-label>
            <ion-label position="fixed" style="color: springgreen;" *ngIf="state!=0 && i===lineNumber">{{t.type}}</ion-label>
            <ion-button (click)="onClickDelete(theProgram[i])" size="small" shape="round">
              DELETE
            </ion-button>
            <ion-button (click)="onClickUp(theProgram[i])" size="small" shape="round">
              <ion-icon slot="icon-only" name="caret-up-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="onClickDown(theProgram[i])" size="small" shape="round">
              <ion-icon slot="icon-only" name="caret-down-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="t.type=='PAUSE'">
            <ion-icon name="PAUSE"></ion-icon>
            <ion-label position="fixed" style="color: coral;" *ngIf="state==0">{{t.type}}</ion-label>
            <ion-label position="fixed" style="color: darkred;" *ngIf="state!=0 && i!==lineNumber">{{t.type}}</ion-label>
            <ion-label position="fixed" style="color: springgreen;" *ngIf="state!=0 && i===lineNumber">{{t.type}}</ion-label>
            <ion-button (click)="onClickDelete(theProgram[i])" size="small" shape="round">
              DELETE
            </ion-button>
            <ion-button (click)="onClickUp(theProgram[i])" size="small" shape="round">
              <ion-icon slot="icon-only" name="caret-up-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="onClickDown(theProgram[i])" size="small" shape="round">
              <ion-icon slot="icon-only" name="caret-down-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="t.type=='ROUND'">
            <ion-input type="number" [(ngModel)]="theProgram[i].timeRoundMin" (change)='onChangeTime(theProgram[i])'
                       style="text-align: right;">
              <ion-icon slot="start" name="play"></ion-icon>
            </ion-input>
            <ion-label>:</ion-label>
            <ion-input type="number" [(ngModel)]="theProgram[i].timeRoundSec" (change)='onChangeTime(theProgram[i])'></ion-input>
            <ion-input type="number" [(ngModel)]="theProgram[i].timePauseMin" (change)='onChangeTime(theProgram[i])'
                      style="text-align: right;">
              <ion-icon slot="start" name="pause"></ion-icon>
            </ion-input>
            <ion-label>:</ion-label>
            <ion-input type="number" [(ngModel)]="theProgram[i].timePauseSec" (change)='onChangeTime(theProgram[i])'></ion-input>
            <ion-input type="number" [(ngModel)]="theProgram[i].roundsCount" (change)='onChangeTime(theProgram[i])'
                      style="text-align: center;">
              <ion-icon name="repeat"></ion-icon>       
            </ion-input>
          </ion-item>
          <ion-item *ngIf="t.type=='TABATA'">
            <ion-input type="number" [(ngModel)]="theProgram[i].timeRoundMin" (change)='onChangeTime(theProgram[i])'
                       style="text-align: right;">
              <ion-icon slot="start" name="play"></ion-icon>
            </ion-input>
            <ion-label>:</ion-label>
            <ion-input type="number" [(ngModel)]="theProgram[i].timeRoundSec" (change)='onChangeTime(theProgram[i])'></ion-input>
            <ion-input type="number" [(ngModel)]="theProgram[i].timePauseMin" (change)='onChangeTime(theProgram[i])'
                      style="text-align: right;">
              <ion-icon slot="start" name="pause"></ion-icon>
            </ion-input>
            <ion-label>:</ion-label>
            <ion-input type="number" [(ngModel)]="theProgram[i].timePauseSec" (change)='onChangeTime(theProgram[i])'></ion-input>
            <ion-input type="number" [(ngModel)]="theProgram[i].roundsCount" (change)='onChangeTime(theProgram[i])'
                      style="text-align: center;">
              <ion-icon name="repeat"></ion-icon>       
            </ion-input>
          </ion-item>  
          <ion-item *ngIf="t.type=='TABATA'">
            <ion-input type="number" [(ngModel)]="theProgram[i].timeMacroPauseMin" (change)='onChangeTime(theProgram[i])'
                    style="text-align: right;">
              <ion-icon slot="start" name="pause-circle"></ion-icon>
            </ion-input>
            <ion-label>:</ion-label>
            <ion-input type="number" [(ngModel)]="theProgram[i].timeMacroPauseSec" (change)='onChangeTime(theProgram[i])'></ion-input>
            <ion-input type="number" [(ngModel)]="theProgram[i].tabataRoundsCount" (change)='onChangeTime(theProgram[i])'
                      style="text-align: center;">
              <ion-icon name="sync"></ion-icon>       
            </ion-input>
          </ion-item>
          <ion-item *ngIf="t.type=='TIMER'">
            <ion-input type="number" [(ngModel)]="theProgram[i].timeRoundMin" (change)='onChangeTime(theProgram[i])'
                      style="text-align: right;">
              <ion-icon slot="start" name="play"></ion-icon>
            </ion-input>
            <ion-label>:</ion-label>
            <ion-input type="number" [(ngModel)]="theProgram[i].timeRoundSec" (change)='onChangeTime(theProgram[i])'></ion-input>
          </ion-item>
          <ion-item *ngIf="t.type=='PAUSE'">
            <ion-input type="number" [(ngModel)]="theProgram[i].timePauseMin" (change)='onChangeTime(theProgram[i])'
                      style="text-align: right;">
              <ion-icon slot="start" name="pause"></ion-icon>
            </ion-input>
            <ion-label>:</ion-label>
            <ion-input type="number" [(ngModel)]="theProgram[i].timePauseSec" (change)='onChangeTime(theProgram[i])'></ion-input>
          </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
